.chat-show-msg {
  width: 80%;
  height: 70vh;
  background-color: white;
  margin: 3% auto;
  border: solid 2px gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.chat-input-msg {
  width: 80%;
  margin: 3% auto;
  border-radius: 5px;
}

.chat-form {
  width: 80%;
  height: 100%;
  margin: auto;
}

.chat-btn,.chat-msg{
  height: 10vh;
  border-radius: 5px;
  font-size: large;
}
.chat-btn{
  border: solid 2px gray;
}
.my-msg {
  align-self: flex-end;
  background-color: rgb(150, 150, 150);
  color: white;
}

.enemy-msg {
  align-items: flex-start;
  background-color: white;
  color: rgb(150, 150, 150);
  border: solid 2px gray;
}

.my-msg,
.enemy-msg {
  max-width: 40%;
  border-radius: .9em;
}